* {
    box-sizing: border-box;
}

main {
    width: 800px;
    height: 800px;
    background-color: red;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yellow_main {
    display: flex;
    justify-content: space-between;
}

.yellow {
    background-color: yellow;
    width: 100px;
    height: 100px;
}

.green {
    background-color: green;
    width: 20%;
    height: 20%;
    align-self: center;
}

.blue {
    background-color: blue;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: auto;
}

.vertical_block {
    max-height: 250px;
    min-width: 200px;
    margin: 10px;
    background-color: purple;
}

.vertical_block:nth-child(even) {
    flex: 2 0 250px;
}

.vertical_block:nth-child(odd) {
    flex: 2 0 110px;
}

.vertical_block:nth-child(4n + 2) {
    flex: 2 0 70px;
}